[Unit]
Description=Confluent Control Center
Documentation=https://docs.confluent.io
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ c3_user }}
Group={{ c3_group }}
ExecStart={{ c3_install_dir }}/bin/control-center-start {{ c3_config_dir }}/{{ c3_config_file }}
Environment="CONTROL_CENTER_HEAP_OPTS={{ c3_heap_opts }}"
Environment="LOG_DIR={{ c3_log_dir }}"
Environment="CONTROL_CENTER_LOG4J_OPTS=-Dlog4j.configuration=file:{{ c3_config_dir }}/log4j-rolling.properties"
Environment="CONTROL_CENTER_OPTS=-Djava.security.auth.login.config={{ c3_ssl_jaas_file }} -Djava.io.tmpdir={{ c3_data_tmp_dir }}"
Environment="JMX_PORT={{ c3_jmx_port }}"
Environment="CONFLUENT_SECURITY_MASTER_KEY={{ CONFLUENT_SECURITY_MASTER_KEY }}"
Restart=on-failure
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
