---
# Configure systemd service

- name: Create systemd service file
  template:
    src: kafka-broker.service.j2
    dest: /etc/systemd/system/{{ broker_service_name }}.service
    mode: '0644'
  notify: reload systemd

- name: Reload systemd
  systemd:
    daemon_reload: yes
