# Log4j Configuration for Zookeeper

log4j.rootLogger=INFO, stdout, zkLog

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.zkLog=org.apache.log4j.RollingFileAppender
log4j.appender.zkLog.File={{ zookeeper_log_dir }}/zookeeper.log
log4j.appender.zkLog.MaxFileSize=100MB
log4j.appender.zkLog.MaxBackupIndex=10
log4j.appender.zkLog.layout=org.apache.log4j.PatternLayout
log4j.appender.zkLog.layout.ConversionPattern=[%d{ISO8601}] %p %c{1}: %m%n