# Confluent Control Center UI login credentials
# Format: username: password,Role
admin: {{ c3_ui_admin_password | default('admin123') }},Administrators
confluent: {{ c3_ui_confluent_password | default('confluent123') }},Restricted
