[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=root
Group=root
ExecStart={{ c3_node_exporter_dir }}/node_exporter-0.18.1.linux-amd64/node_exporter --web.listen-address=:{{ c3_node_exporter_port }}

[Install]
WantedBy=multi-user.target
