---
# Setup Prometheus JMX Exporter

- name: Download Prometheus JMX Exporter JAR
  get_url:
    url: "{{ prometheus_jmx_exporter_url }}"
    dest: "{{ prometheus_jmx_exporter_jar }}"
    owner: "{{ broker_user }}"
    group: "{{ broker_group }}"
    mode: '0644'
  register: jmx_download
  retries: 3
  delay: 5
  until: jmx_download is succeeded

- name: Create Prometheus JMX configuration for Kafka Broker
  template:
    src: jmx-kafka-broker-prometheus.yml.j2
    dest: "{{ prometheus_jmx_config }}"
    owner: "{{ broker_user }}"
    group: "{{ broker_group }}"
    mode: '0644'
